body{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

#container {
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    width: 320px;
    height: 320px;
}

.square {
    box-sizing: border-box;
    border: 1px solid #ddd;
}

#button {
    padding: 5px;
    text-align: center;
    margin: 20px;
    border: 1px solid pink;
    border-radius: 8px;
    background: pink;
    color: white;
    width: 90px;
    height: 40px;
    align-self: flex-end;
}